<!DOCTYPE html>
<html>
<head>
    <title>NicksBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "dropdown" %>
    <%= javascript_include_tag "burger-menu" %> 
   <!-- <%= javascript_include_tag "invoca" %> -->
  </head>

    <body>
        <%= render '/layouts/header' %>
        <%= yield %>
    </body>
    
</html>
